In [1]:
import pandas as pd 
import pymongo
import os

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

db = client.project2

In [3]:
csvpath = "Resources/food_data2.csv"
food2_data = pd.read_csv(csvpath, encoding= 'unicode_escape')
food2_data.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [20]:
food2_data = food2_data.dropna(how='any')

dtype('float64')

In [21]:
food2_data.count()

Country                               179
Region                                179
Population                            179
Area (sq. mi.)                        179
Pop. Density (per sq. mi.)            179
Coastline (coast/area ratio)          179
Net migration                         179
Infant mortality (per 1000 births)    179
GDP ($ per capita)                    179
Literacy (%)                          179
Phones (per 1000)                     179
Arable (%)                            179
Crops (%)                             179
Other (%)                             179
Climate                               179
Birthrate                             179
Deathrate                             179
Agriculture                           179
Industry                              179
Service                               179
dtype: int64

In [22]:
csvpath5 = "Resources/happiness_data/2019.csv"

happiness_2019 = pd.read_csv(csvpath5, encoding= 'unicode_escape')

In [36]:
happiness = happiness_2019.rename(columns={"Country or region": "Country"})
happiness.head()

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [26]:
csvpath6 = "Resources/freedom.csv"
freedom = pd.read_csv(csvpath6, encoding= 'unicode_escape')

In [31]:
#cleaning columns and renaming the to the primary key ("Country")
freedom = freedom.dropna(how='any')
freedom = freedom.rename(columns={"Country Name": "Country"})

In [33]:
freedom.count()

CountryID                      173
Country                        173
WEBNAME                        173
Region                         173
World Rank                     173
Region Rank                    173
2019 Score                     173
Property Rights                173
Judical Effectiveness          173
Government Integrity           173
Tax Burden                     173
Gov't Spending                 173
Fiscal Health                  173
Business Freedom               173
Labor Freedom                  173
Monetary Freedom               173
Trade Freedom                  173
Investment Freedom             173
Financial Freedom              173
Tariff Rate (%)                173
Income Tax Rate (%)            173
Corporate Tax Rate (%)         173
Tax Burden % of GDP            173
Gov't Expenditure % of GDP     173
Country                        173
Population (Millions)          173
GDP (Billions, PPP)            173
GDP Growth Rate (%)            173
5 Year GDP Growth Rate (%)     173
GDP per Capita (PPP)           173
Unemployment (%)               173
Inflation (%)                  173
FDI Inflow (Millions)          173
Public Debt (% of GDP)         173
dtype: int64